[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
dj-database-url = "*"
django = "*"
gunicorn = "*"
psycopg2 = "*"
djangorestframework = "*"
drf-yasg = "*"
django-heroku = "*"
flex = "*"
swagger_spec_validator = "*"
django-bootstrap3 = "*"

[requires]
python_version = "3.5"