<div id="category-count">

    <div class="modal-body">

        <table class="table">
            <thead>
                <tr>
                    <td>Категория</td>
                    <td>Число</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entry in count_list">
                    <td>{$ entry.title $}</td>
                    <td>{$ entry.count $}</td>
                </tr>
            </tbody>

        </table>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
    </div>

</div>


<script>

    category_count_form = new Vue({
        el: '#category-count',
        data: {
            count_list : [],
        },
        methods: {
            get_count_list: function () {
                this.$http.get(
                    'category-count'
                ).then(response => {
                    console.log('Response to category-count: ');
                    console.log(response);
                    this.count_list = response.body;
                })
            },
        },
        beforeMount: function(){
            this.get_count_list();
        },

    })

</script>