{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}
    Главное меню
{% endblock %}

{% block header %}
    Аниме БД: Главное меню
{% endblock %}

{% block content %}


    <div id="main-menu">

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#anime-creation-modal">Создание аниме</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#character-creation-modal">Создание персонажей</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#episode-creation-modal">Создание эпизодов</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#category-creation-modal">Создание категорий</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#producer-creation-modal">Создание производителей</button>

        <br><hr>

        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#category-count-modal">Число категорий</button>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#producer-count-modal">Число производителей</button>

        <br><hr>

        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#anime-search-modal">Поиск аниме</button>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#character-search-modal">Поиск персонажей</button>

    </div>


    <!-- Modals -->

    <!-- Окна статистики -->

    <div class="modal fade" id="category-count-modal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            {% include "category_count.html" %}
          </div>
        </div>
    </div>

    <div class="modal fade" id="producer-count-modal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            {% include "producer_count.html" %}
          </div>
        </div>
    </div>

    <!-- Формы создания -->

    <div class="modal fade" id="anime-creation-modal" role="dialog">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
          <div class="modal-content">
            {% include "create_anime.html" %}
          </div>

        </div>
    </div>

    <div class="modal fade" id="character-creation-modal" role="dialog">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
          <div class="modal-content">
            {% include "create_character.html" %}
          </div>

        </div>
    </div>

    <div class="modal fade" id="episode-creation-modal" role="dialog">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
          <div class="modal-content">
            {% include "create_episode.html" %}
          </div>

        </div>
    </div>

    <div class="modal fade" id="category-creation-modal" role="dialog">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
          <div class="modal-content">
            {% include "create_category.html" %}
          </div>

        </div>
    </div>

    <div class="modal fade" id="producer-creation-modal" role="dialog">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
          <div class="modal-content">
            {% include "create_producer.html" %}
          </div>

        </div>
    </div>

    <!-- Формы поиска -->

    <div class="modal fade modal-lg" id="anime-search-modal" role="dialog">
        <div class="modal-dialog modal-lg">

          <!-- Modal content-->
          <div class="modal-content">
            {% include "search_anime.html" %}
          </div>

        </div>
    </div>

    <div class="modal fade modal-lg" id="character-search-modal" role="dialog">
        <div class="modal-dialog modal-lg">

          <!-- Modal content-->
          <div class="modal-content">
            {% include "search_character.html" %}
          </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>

       $('#anime-search-modal').on('shown.bs.modal', function (e) {
          anime_search_form.get_anime_list();
       })

        $('#anime-search-modal').on('shown.bs.modal', function (e) {
          character_search_form.get_anime_list();
       })

    </script>



{% endblock %}