<div id="producer-count">

    <div class="modal-header">
        <h3>
            Аниме БД
        </h3>
        <hr>
        <h4>
            Число производителей
        </h4>
    </div>

    <div class="modal-body">

        <table class="table">
            <thead>
                <tr>
                    <td>Производитель</td>
                    <td>Число</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entry in count_list">
                    <td>{$ entry.name $}</td>
                    <td>{$ entry.count $}</td>
                </tr>
            </tbody>

        </table>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
    </div>

</div>


<script>

    producer_count_form = new Vue({
        el: '#producer-count',
        data: {
            count_list : [],
        },
        methods: {
            get_count_list: function () {
                this.$http.get(
                    'producer-count/'
                ).then(response => {
                    console.log('Response to producer-count: ');
                    console.log(response);
                    this.count_list = response.body;
                })
            },
        },
        beforeMount: function(){
            this.get_count_list();
        },

    })

</script>